.main-container {
  overflow: hidden;
}

.section-divider {
  width: 100%;
  background-color: #fafafa;
  height: 32px;
}

.last-bar {
  width: 100px;
  height: 2px;
  background-color: #000;
  margin-top: 50px;
  margin-bottom: 100px;
}

.last-txt {
  margin: 14px 0;
}

.text-box {
  width: 25%;
  height: 210px;
}

.text-container {
  width: 1020px;
  margin-top: 20px;
}

.loan-img {
  margin-bottom: 20px;
}

.intro-main {
  position: relative;
  width: 100%;
  height: 884px;
  margin: 0;
  background-color: #fff;
}

.intro-main-content {
  position: relative;
  max-width: 1200px;
  height: 884px;
  background-image: url(src/assets/images/main-bg3.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  margin: auto;
}

.intro-main .background-line {
  width: 100%;
  height: 720px;
  background-color: #ffef6b;
  position: absolute;
  top: 0;
}
